<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/image.jpeg">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> living in {{street}} </p>
        <img class="bird" src="/img/image.jpeg">
    </div>
    {{>footer}}
</body>
</html>
