<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/image.jpeg">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> This site was created by Me. It uses data from mapbox.com and darksky.com</p>
        <img class="ausw" src="/img/Ausw_P_t0_wild_b.jpg">
    </div>
    {{>footer}}
</body>
</html>
