<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/image.jpeg">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>{{hey}}</p>
        <p>{{help}}</p>
    </div>
    {{>footer}}
</body>
</html>
